.card-container {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
}

.card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 15px;
    max-width: 20rem;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    margin: 2.7rem;
    flex: 1;
}